.page-wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem;
  height: 60vh;
  width: 60vw;
  border: 5px solid white;
  border-radius: 40px;
  box-shadow: 10px 2cqmax 50px 10px rgba(0, 0, 0, 0.295);
}
