body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1e1e1e; /* Terminal-style dark background */
  color: white;
}

.page-wrapper {
  width: 60vw;
}
